@model IEnumerable<Account>
@{
    ViewData["Title"] = "WorkerList";
}

    <div class="container">
        <div style="margin-top:10px; overflow-x:auto; overflow-y:auto;">
            <div class="d-flex">
                <select class="form-control col-md-3" id="selectFor">
                    <option>Select for</option>
                    <option value=":nth-child(1)">Name</option>
                    <option value=":nth-child(2)">Surname</option>
                    <option value=":nth-child(3)">Position</option>
                    <option value=":nth-child(4)">Department</option>
                </select>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="txtSearch" placeholder="Employee name" />
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Opertion</th>
                    </tr>
                </thead>
                <tbody id="bankAppend">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.Position</td>
                            <td>@item.Department</td>
                            <td class="d-flex">
                                <form asp-action="AddAccount" asp-controller="BankAccount" method="post" asp-route-id="@item.WorkerId">
                                    <input type="hidden" name="ID" value="@item.WorkerId" />
                                    <input type="submit" value="Create Account" class="btn btn-primary" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input type="hidden" class="bankSkipCount" id="bankTotalCount" value="@ViewBag.SkipCount" />
    </div>


