@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="container-fluid" style="margin-top:15px;">
    <div class="col-md-12">
        <form method="post" asp-controller="Employee" asp-action="Create" enctype="multipart/form-data">
            <div class="col-md-5">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="Name"></label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="Surname"></label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" asp-for="Surname" />
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="FatherName"></label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" asp-for="FatherName" />
                        <span class="text-danger" asp-validation-for="FatherName"></span>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="Born"></label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" type="date" asp-for="Born" />
                        <span class="text-danger" asp-validation-for="Born"></span>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label asp-for="Genders" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" asp-for="SelectedGender" asp-items="@(new SelectList(Model.Genders,"GenderId","GenderName"))">
                            <option value="">--Select Gender--</option>
                        </select>
                        @* @Html.DropDownListFor(model => model.SelectedGender, new SelectList(Model.Genders, "GenderID", "GenderName"), new { id = "normalDropDown" })*@
                        <span asp-validation-for="Genders" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label asp-for="Educations" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" asp-for="SelectedEducation" asp-items="@(new SelectList(Model.Educations,"EducationId","EducationName"))">
                            <option value="">--Select Education--</option>
                        </select>
                        <span asp-validation-for="Educations" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label" asp-for="Residence"></label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" asp-for="Residence" />
                        <span class="text-danger" asp-validation-for="Residence"></span>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label asp-for="Maritals" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" asp-for="SelectedMarital" asp-items="@(new SelectList(Model.Maritals,"MaritalStatusId","MaritalStatusName"))">
                            <option value="">--Select Marital status</option>
                        </select>
                        <span asp-validation-for="Maritals" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label">District Registration</label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" asp-for="DistrictRegistration" />
                        <span class="text-danger" asp-validation-for="DistrictRegistration"></span>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label">Personality Card Number</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" asp-for="PersonalityCardNumber" />
                        <span class="text-danger" asp-validation-for="PersonalityCardNumber"></span>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label">Personality Card End Date</label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" type="date" asp-for="PersonalityCardEndDate" />
                        <span class="text-danger" asp-validation-for="PersonalityCardEndDate"></span>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top:30px;">
                    <div class="col-md-4">
                        <label class="control-label">Old WorkPlaces</label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" asp-for="OldWorkPlaces" />
                        <span class="text-danger" asp-validation-for="OldWorkPlaces"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input style="margin:50px 0 0 80px;" type="submit" value="Create Employe" class="btn btn-warning" />
                </div>
            </div>
            <div class="col-md-3">
                <div id="imgPreview">
                    <img src="" style="display:block; border:1px solid black; height:200px; width:100%; background-image: url(/images/no_photo.jpg); background-size:contain;" id="image">
                </div>
                <input style="margin-top:5px" ; accept="image/*" asp-for="Photo" type="file" onchange="showImage.call(this)" />
                <span class="text-danger" asp-validation-for="Photo"></span>
                <div class="form-group">
                    <select class="form-control" id="workplace">
                        <option class="false" value="0">OldworkPlace</option>
                        <option value="1">Worked</option>
                        <option class="false" value="1">Don't Worked</option>
                    </select>
                </div>
            </div>
            <div class="row work" style="display:none;">
                <div >
                  
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label  class="control-label"></label>
                            <input a class="form-control" />
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input class="form-control" />
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label"></label>
                            <input class="form-control" />
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label"></label>
                            <input  class="form-control" />
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label"></label>
                            <input  class="form-control" />
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    @Html.Partial("_ValidationScriptsPartial")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("image");
                    image.src = data.target.result;
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
    </script>
    <script>
        $(document).on("change", "#workplace", function () {
            var data = $("#workplace").val();
            if (data === OldworkPlace || data === "Don't Worked") {

                $(".work").show();

            }


        });
    </script>
}

@*@section Scripts{
        @Html.Partial("_ValidationScriptsPartial")


    }*@

