@model HRPayrolApp.Models.ViewModels.SalaryModel
@{
    ViewData["Title"] = "CalculateSalary";
}
<div class="col-md-12">
    <div style="margin-top:10px; overflow-x:auto; overflow-y:auto;">
        <form asp-action="CalculateSalary">
            <div class="d-flex">
                <select class="form-control col-md-3" id="selectFor">
                    <option>Select for</option>
                    <option value=":nth-child(9)">Name</option>
                    <option value=":nth-child(10)">Surname</option>
                    <option value=":nth-child(11)">Position</option>
                    <option value=":nth-child(12)">Department</option>
                </select>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="txtSearch" placeholder="Write..." />
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="padding:0;"></th>
                        <th style="padding:0;"></th>
                        <th style="padding:0;"></th>
                        <th style="padding:0;"></th>
                        <th style="padding:0;"></th>
                        <th style="padding:0;"></th>
                        <th style="padding:0;"></th>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Bonus</th>
                        <th>Monthly Salary</th>
                        <th>SelectedDate</th>
                        <th>Excusable Absens</th>
                        <th>UnExcusable Absens</th>
                        <th>Total Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AvialableWorkers.Count; i++)
                    {
                    <tr>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].EmployeeId)</td>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].IDCardNumber)</td>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].TotalSalary)</td>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].OldCalculate)</td>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].Name)</td>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].Surname)</td>
                        <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableWorkers[i].Position)</td>
                        <td>
                            @Html.CheckBoxFor(it => Model.AvialableWorkers[i].IsChecked)
                        </td>
                        <td>@Model.AvialableWorkers[i].Name</td>
                        <td>@Model.AvialableWorkers[i].Surname</td>
                        <td>@Model.AvialableWorkers[i].Position</td>
                        <td>@Model.AvialableWorkers[i].Department</td>
                        <td>@Model.AvialableWorkers[i].Bonus</td>
                        <td>@Model.AvialableWorkers[i].MonthlySalary</td>
                        <td>@Model.AvialableWorkers[i].OldCalculate.Date.ToShortDateString()</td>
                        <td>@Model.AvialableWorkers[i].ExcusableAbsens</td>
                        <td>@Model.AvialableWorkers[i].UnExcusableAbsens</td>
                        <td>@Model.AvialableWorkers[i].TotalSalary</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-default calc" />
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="~/js/index.js"></script>
<script src="~/dist/js/datepicker.min.js"></script>