@model HRPayrolApp.Models.ViewModels.SalaryModel
@{
    ViewData["Title"] = "WorkerSalary";
}
<div class="col-md-12">
    <div style="margin-top:10px; overflow-x:auto; overflow-y:auto;">
        <form asp-action="CalculateSalary" method="get">
            <div class="d-flex">
                <select class="form-control col-md-3" id="selectFor">
                    <option>Select for</option>
                    <option value=":nth-child(1)">Name</option>
                    <option value=":nth-child(2)">Surname</option>
                    <option value=":nth-child(3)">Position</option>
                    <option value=":nth-child(4)">Department</option>
                </select>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="txtSearch" placeholder="Write..." />
                </div>
                <div class="form-group col-md-3">
                    <input type="text" value="Select date"
                           class="datepicker-here form-control"
                           data-language='en'
                           data-min-view="months"
                           data-view="months"
                           data-date-format="MM yyyy" name="selectedDate" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Calculate" class="btn btn-primary calc" />
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Bonus</th>
                    <th>Monthly Salary</th>
                    <th>Excusable Absens</th>
                    <th>UnExcusable Absens</th>
                    <th>Total Salary</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AvialableWorkers.Count; i++)
                {
                    <tr>
                        <td>@Model.AvialableWorkers[i].Name</td>
                        <td>@Model.AvialableWorkers[i].Surname</td>
                        <td>@Model.AvialableWorkers[i].Position</td>
                        <td>@Model.AvialableWorkers[i].Department</td>
                        <td>@Model.AvialableWorkers[i].Bonus</td>
                        <td>@Model.AvialableWorkers[i].MonthlySalary</td>
                        <td>@Model.AvialableWorkers[i].ExcusableAbsens</td>
                        <td>@Model.AvialableWorkers[i].UnExcusableAbsens</td>
                        <td>@Model.AvialableWorkers[i].TotalSalary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="~/js/index.js"></script>
<script src="~/dist/js/datepicker.min.js"></script>