@using Microsoft.AspNetCore.Identity
@inject UserManager<Worker> _userManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HR Payroll System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">

                            @{var data = await _userManager.FindByNameAsync(User.Identity.Name);
                                <h5 class="nav-link">
                                    <span class="account-text">@data.Account</span>
                                </h5>
                            }
                        </li>
                        @if (User.IsInRole(SD.HR.ToString()))
                        {
                            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Employees">
                                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#HrEmployePages" data-parent="#exampleAccordion">
                                    <i class="fa fa-fw fa-file"></i>
                                    <span class="nav-link-text">Employees</span>
                                </a>
                                <ul class="sidenav-second-level collapse" id="HrEmployePages">

                                    <li title="Add empoyee">
                                        <a asp-controller="Employee" asp-action="Create">Add employee</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Employee" asp-action="EmployeeList">Look all employees</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Workers">
                                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#HrWorkerPages" data-parent="#exampleAccordion">
                                    <i class="fa fa-fw fa-wrench"></i>
                                    <span class="nav-link-text">Workers</span>
                                </a>
                                <ul class="sidenav-second-level collapse" id="HrWorkerPages">
                                    <li>
                                        <a asp-controller="Worker" asp-action="WorkerList">Look all workers</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Worker" asp-action="WorkerSalary">Calculate salary</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole(SD.PayrollSpecalist.ToString()))
                        {
                            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Workers">
                                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#PsWorkerPages" data-parent="#exampleAccordion">
                                    <i class="fa fa-fw fa-file"></i>
                                    <span class="nav-link-text">Worker</span>
                                </a>
                                <ul class="sidenav-second-level collapse" id="PsWorkerPages">

                                    <li title="Add worker">
                                        <a asp-controller="Worker" asp-action="Create">Add worker</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Worker" asp-action="WorkerList">Look all workers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Employees">
                                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#PsEmployeePages" data-parent="#exampleAccordion">
                                    <i class="fa fa-fw fa-wrench"></i>
                                    <span class="nav-link-text">Employee</span>
                                </a>
                                <ul class="sidenav-second-level collapse" id="PsEmployeePages">
                                    <li>
                                        <a asp-controller="Employee" asp-action="EmployeeList">Look all employees</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0 mr-lg-2">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-fw fa-sign-out"></i>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper">
                <div class="container-fluid">
                    <hr>
                    <div class="row">
                        @RenderBody();
                    </div>
                </div>
                <footer class="sticky-footer">
                    <div class="container">
                        <div class="text-center">
                            <small>Copyright © Payroll System 2019</small>
                        </div>
                    </div>
                </footer>
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fa fa-angle-up"></i>
                </a>
                <!-- Logout Modal-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="row">
                @RenderBody();
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

