@model IEnumerable<Company>
@{
    ViewData["Title"] = "CompanyList";
}

<h2>CompanyList</h2>

<table class="table table-striped">
    <thead style="font-weight:bold;">
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <div class="d-flex">
                        <form asp-action="Edit" asp-controller="Company" method="get" asp-route-id="@item.ID" class="btn-padding">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </form>
                        <form asp-action="Delete" asp-controller="Company" method="post" asp-route-id="@item.ID" class="btn-padding">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="submit" value="Delete" class="btn btn-danger btn-padding" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>