@model HRPayrollSystem.Models.ViewModels.SaleViewModel
@{
    ViewData["Title"] = "StoreBonus";
}

    <div class="col-md-12">
        <div style="margin-top:10px; overflow-x:auto; overflow-y:auto;">
            <form asp-action="StoreBonus" asp-controller="Bonus">
                <div class="d-flex">
                    <select class="form-control col-md-2" id="selectFor">
                        <option>Select for</option>
                        <option value=":nth-child(4)">Name</option>
                        <option value=":nth-child(5)">Sale</option>
                    </select>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="txtSearch" placeholder="Write..." />
                    </div>
                    <div class="d-flex">
                        <div class="form-group col-md-4">
                            <input type="number" class="form-control" name="requiredSalary" placeholder="Required amount" />
                        </div>
                        <select class="form-control col-md-2" name="bonusform">
                            <option>Select for</option>
                            <option value="0">Faiz</option>
                            <option value="1">Məbləğ</option>
                        </select>
                        <div class="form-group col-md-4">
                            <input type="number" class="form-control" name="bonus" placeholder="Bonus amount" />
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="Add Bonus" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="padding:0;"></th>
                            <th style="padding:0;"></th>
                            <th style="padding:0;"></th>
                            <th>Store Name</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody id="storeBonusAppend">
                        @for (int i = 0; i < Model.AvialableStores.Count; i++)
                        {
                            <tr>
                                <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableStores[i].SaleSalary)</td>
                                <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableStores[i].StoreId)</td>
                                <td style="padding:0;">@Html.HiddenFor(x => Model.AvialableStores[i].StoreName)</td>
                                <td>@Model.AvialableStores[i].StoreName</td>
                                <td>@Model.AvialableStores[i].SaleSalary</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Calculate" class="btn btn-default calc" />
                </div>
            </form>
        </div>
        <input type="hidden" class="storeBonusSkipCount" id="storeBonusTotalCount" value="@ViewBag.SkipCount" />
    </div>

